<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
	<div class="container">
		<a class="navbar-brand" href="#"> <img src="{{root}}/assets/images/logo.png" alt="Logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse align-self-end" id="navbarsExampleDefault">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item{{#if home}} active{{/if}}">
					<a class="nav-link" href="/">Home {{current}} <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item{{#if about}} active{{/if}}">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item{{#if business-solutions}} active{{/if}}">
					<a class="nav-link" href="/business-solutions">Business Solutions</a>
				</li>
				<li class="nav-item{{#if ict-solutions}} active{{/if}}">
					<a class="nav-link" href="/ict-solutions">ICT Solutions</a>
				</li>
				<li class="nav-item{{#if academy}} active{{/if}}">
					<a class="nav-link" href="/academy">Academy</a>
				</li>
				<li class="nav-item{{#if work-at}} active{{/if}}">
					<a class="nav-link" href="/work-at">Work at</a>
				</li>
				<li class="nav-item{{#if contact}} active{{/if}}">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
